In [1]:
import pandas as pd

df1 = pd.read_csv('crime.csv')

print(df1)

       Report Number     Date Reported Date of Occurrence Time of Occurrence  \
0                  1  02-01-2020 00:00   01-01-2020 00:00   01-01-2020 01:11
1                  2  01-01-2020 19:00   01-01-2020 01:00   01-01-2020 06:26
2                  3  02-01-2020 05:00   01-01-2020 02:00   01-01-2020 14:30
3                  4  01-01-2020 05:00   01-01-2020 03:00   01-01-2020 14:46
4                  5  01-01-2020 21:00   01-01-2020 04:00   01-01-2020 16:51
...              ...               ...                ...                ...
40155          40156  01-08-2024 16:00   07-31-2024 03:00   31-07-2024 05:05
40156          40157  31-07-2024 14:00   07-31-2024 04:00   31-07-2024 04:14
40157          40158  02-08-2024 03:00   07-31-2024 05:00   31-07-2024 21:33
40158          40159  01-08-2024 19:00   07-31-2024 06:00   31-07-2024 11:05
40159          40160  31-07-2024 17:00   07-31-2024 07:00   31-07-2024 17:19

            City  Crime Code   Crime Description  Victim Age Victim Gender  \
0      Ahmedabad         576      IDENTITY THEFT          16             M
1        Chennai         128            HOMICIDE          37             M
2       Ludhiana         271          KIDNAPPING          48             F
3           Pune         170            BURGLARY          49             F
4           Pune         421           VANDALISM          30             F
...          ...         ...                 ...         ...           ...
40155    Kolkata         312      COUNTERFEITING          78             F
40156     Mumbai         300  ILLEGAL POSSESSION          75             F
40157     Kanpur         423    VEHICLE - STOLEN          68             M
40158      Patna         311      SEXUAL ASSAULT          11             M
40159      Delhi         193   DOMESTIC VIOLENCE          43             F

        Weapon Used   Crime Domain  Police Deployed Case Closed  \
0      Blunt Object  Violent Crime               13          No
1            Poison    Other Crime                9          No
2      Blunt Object    Other Crime               15          No
3           Firearm    Other Crime                1         Yes
4             Other    Other Crime               18         Yes
...             ...            ...              ...         ...
40155       Firearm    Other Crime               12          No
40156           NaN    Other Crime                2         Yes
40157         Other  Violent Crime                6          No
40158  Blunt Object  Violent Crime                1          No
40159        Poison  Violent Crime                7         Yes

       Date Case Closed
0                   NaN
1                   NaN
2                   NaN
3      29-04-2020 05:00
4      08-01-2020 21:00
...                 ...
40155               NaN
40156  29-09-2024 14:00
40157               NaN
40158               NaN
40159  28-09-2024 17:00

[40160 rows x 14 columns]

In [2]:
df2 = pd.read_csv('Cities.csv')
print(df2)

             City        Lat       Long country iso2           State
0          Abohar  30.144533  74.195520   India   IN          Punjab
1        Adilabad  19.400000  78.310000   India   IN       Telangana
2        Agartala  23.836049  91.279386   India   IN         Tripura
3            Agra  27.187935  78.003944   India   IN   Uttar Pradesh
4      Ahmadnagar  19.094571  74.738432   India   IN     Maharashtra
..            ...        ...        ...     ...  ...             ...
208  Vizianagaram  18.113290  83.397743   India   IN  Andhra Pradesh
209      Warangal  17.978423  79.600209   India   IN       Telangana
210    Jorapokhar  23.700000  86.412670   India   IN       Jharkhand
211  Brajrajnagar  21.820000  83.920000   India   IN          Odisha
212       Talcher  20.950000  85.230000   India   IN          Odisha

[213 rows x 6 columns]

In [4]:
import pandas as pd

crime_df = pd.read_csv('crime.csv')
cities_df = pd.read_csv('Cities.csv')

merged_df = pd.merge(crime_df, cities_df, on='City')

print(merged_df)

merged_df.to_csv('merged_crime_cities.csv', index=False)

       Report Number     Date Reported Date of Occurrence Time of Occurrence  \
0                  1  02-01-2020 00:00   01-01-2020 00:00   01-01-2020 01:11
1                  2  01-01-2020 19:00   01-01-2020 01:00   01-01-2020 06:26
2                  3  02-01-2020 05:00   01-01-2020 02:00   01-01-2020 14:30
3                  4  01-01-2020 05:00   01-01-2020 03:00   01-01-2020 14:46
4                  5  01-01-2020 21:00   01-01-2020 04:00   01-01-2020 16:51
...              ...               ...                ...                ...
29032          40153  02-08-2024 11:00   07-31-2024 00:00   31-07-2024 03:46
29033          40155  01-08-2024 11:00   07-31-2024 02:00   31-07-2024 12:59
29034          40157  31-07-2024 14:00   07-31-2024 04:00   31-07-2024 04:14
29035          40159  01-08-2024 19:00   07-31-2024 06:00   31-07-2024 11:05
29036          40160  31-07-2024 17:00   07-31-2024 07:00   31-07-2024 17:19

            City  Crime Code   Crime Description  Victim Age Victim Gender  \
0      Ahmedabad         576      IDENTITY THEFT          16             M
1        Chennai         128            HOMICIDE          37             M
2       Ludhiana         271          KIDNAPPING          48             F
3           Pune         170            BURGLARY          49             F
4           Pune         421           VANDALISM          30             F
...          ...         ...                 ...         ...           ...
29032   Srinagar         568           VANDALISM          65             F
29033    Chennai         532      COUNTERFEITING          50             F
29034     Mumbai         300  ILLEGAL POSSESSION          75             F
29035      Patna         311      SEXUAL ASSAULT          11             M
29036      Delhi         193   DOMESTIC VIOLENCE          43             F

        Weapon Used   Crime Domain  Police Deployed Case Closed  \
0      Blunt Object  Violent Crime               13          No
1            Poison    Other Crime                9          No
2      Blunt Object    Other Crime               15          No
3           Firearm    Other Crime                1         Yes
4             Other    Other Crime               18         Yes
...             ...            ...              ...         ...
29032  Blunt Object    Other Crime                7          No
29033    Explosives    Other Crime                2          No
29034           NaN    Other Crime                2         Yes
29035  Blunt Object  Violent Crime                1          No
29036        Poison  Violent Crime                7         Yes

       Date Case Closed        Lat       Long country iso2              State
0                   NaN  23.025793  72.587265   India   IN            Gujarat
1                   NaN  13.084622  80.248357   India   IN        Tamil Nadu
2                   NaN  30.912042  75.853789   India   IN             Punjab
3      29-04-2020 05:00  18.513271  73.849852   India   IN        Maharashtra
4      08-01-2020 21:00  18.513271  73.849852   India   IN        Maharashtra
...                 ...        ...        ...     ...  ...                ...
29032               NaN  34.085652  74.805553   India   IN  Jammu and Kashmir
29033               NaN  13.084622  80.248357   India   IN        Tamil Nadu
29034  29-09-2024 14:00  18.987807  72.836447   India   IN        Maharashtra
29035               NaN  25.615379  85.101027   India   IN              Bihar
29036  28-09-2024 17:00  28.651952  77.231495   India   IN              Delhi

[29037 rows x 19 columns]

In [1]:
import pandas as pd

# Load the original CSV file
df = pd.read_csv('merged_crime_cities.csv')

# Select the first 10 rows
df_first_10 = df.head(10)

# Save the selected rows to a new CSV file
df_first_10.to_csv('crime_first_10.csv', index=False)